---
layout: default
title: Business Casual - Start Bootstrap Theme
lang: ja
permalink: /
---
{% include components/container_generic.html
    heading_upper = "伝説のIC"
    heading_lower = "555 タイマー"
    content = "<p>555タイマーICとは様々なタイマーやパルス生成、発振回路などの応用に使用される集積回路。555タイマーは発振回路やフリップフロップとして時間遅延を提供する。派生品には2回路または4回路を1個のパッケージに統合したものも存在する。</p>"
    img_src = "/img/intro.jpg"
    link_button_enable = true
    link_button_text = "Visit Us Today!"
    link_button_href = "/store/"
%}
{% include components/cta.html
    heading_upper = "偉大なチップ"
    heading_lower = "555"
    section_heading_size = "mb-4"
    content = "<p class=mb-0>タイマーから発振回路まで</p>"
%}
