---
layout: default
title: Business Casual - Start Bootstrap Theme
lang: ja
permalink: /
---
{% include components/container_generic.html
    heading_upper = "カップから農園まで"
    heading_lower = "一貫したコーヒー関連事業"
    content = "<p>UCCは、直営農園で苗木を育てることから、生産国での農事調査、品質保証、原料調達、マーケティング、研究開発、製造から販売、さらには文化の創出に至るまで、世界唯一の「カップから農園まで」一貫したコーヒー関連事業を展開しています。</p>
    <p>そして、お客様のあらゆる生活シーンのご期待にお応えできるコーヒーの新たな価値の創出に努めています。</p>"
    img_src = "/img/intro.jpg"
    link_button_enable = true
    link_button_text = "Visit Us Today!"
    link_button_href = "/store/"
%}
{% include components/cta.html
    heading_upper = "いつでもどこでも"
    heading_lower = "UCC"
    section_heading_size = "mb-4"
    content = "<p class=mb-0>わたしたちは、お客様の笑顔のためにUCCグループにできることのすべてに挑戦し続けます。</p>"
%}
