---
layout: default
title: Business Casual - Start Bootstrap Theme
lang: en
permalink: /
---
{% include components/container_generic.html
    heading_upper = "Fresh Coffee"
    heading_lower = "Worth Drinking"
    content = "Every cup of our quality artisan coffee starts with locally
        sourced, hand picked ingredients. Once you try it, our coffee will be a
        blissful addition to your everyday morning routine - we guarantee it!"
    img_src = "/img/intro.jpg"
    link_button_enable = true
    link_button_text = "Visit Us Today!"
    link_button_href = "/store/"
%}
{% include components/cta.html
    heading_upper = "Our Promise"
    heading_lower = "To You"
    section_heading_size = "mb-4"
    content = '<p class=mb-0>When you walk into our shop to start your day,
        we are dedicated to providing you with friendly service, a welcoming
        atmosphere, and above all else, excellent products made with the highest
        quality ingredients. If you are not satisfied, please let us know and we
        will do whatever we can to make things right!</p>'
%}
