---
layout: default
title: Products
permalink: products/
lang: en
---
{% include components/product.html
    allign = "left"
    heading_upper = "Blended to Perfection"
    heading_lower = "Coffees &amp; Teas"
    img_src = "/img/products-01.jpg"
    img_alt = "Our coffee"
    description = "We take pride in our work, and it shows. Every time you
        order a beverage from us, we guarantee that it will be an experience worth
        having. Whether it's our world famous Venezuelan Cappuccino, a refreshing
        iced herbal tea, or something as simple as a cup of speciality sourced
        black coffee, you will be coming back for more."
%}
{% include components/product.html
    allign = "right"
    heading_upper = "Delicious Treats, Good Eats"
    heading_lower = "Bakery &amp; Kitchen"
    img_src = "/img/products-02.jpg"
    img_alt = ""
    description = "Our seasonal menu features delicious snacks, baked goods,
        and even full meals perfect for breakfast or lunchtime. We source our
        ingredients from local, oragnic farms whenever possible, alongside premium
        vendors for specialty goods."
%}
{% include components/product.html
    allign = "left"
    heading_upper = "From Around the World"
    heading_lower = "Bulk Speciality Blends"
    img_src = "/img/products-03.jpg"
    img_alt = ""
    description = "Travelling the world for the very best quality coffee is
        something take pride in. When you visit us, you'll always find new blends
        from around the world, mainly from regions in Central and South America.
        We sell our blends in smaller to large bulk quantities. Please visit us in
        person for more details."
%}
