---
layout: default
title: Products
lang: ja
permalink: products/
---
{% include components/product.html
    allign = "left"
    heading_upper = "Blended to Perfection"
    heading_lower = "コーヒー &amp; 茶"
    img_src = "/img/products-01.jpg"
    img_alt = "コーヒー"
    description = "コーヒー（オランダ語: koffie[2] /ˈkɔfi/ Nl-koffie.ogg コフィ[ヘルプ/ファイル]）は、コーヒー豆（コーヒーノキの種子）を焙煎して挽いた粉末から、湯または水で成分を抽出した飲料。歴史への登場は酒や茶には遅れるが、世界各地[3][4]で愛飲されている嗜好飲料である。家庭や飲食店、職場などで飲用され、コーヒーの専門ショップも多数存在する。抽出前の粉末や粉砕前の焙煎豆も、同じくコーヒーと呼ばれることもある。日本語での漢字表記は「珈琲」[5]。"
%}
{% include components/product.html
    allign = "right"
    heading_upper = "Delicious Treats, Good Eats"
    heading_lower = "Bakery &amp; Kitchen"
    img_src = "/img/products-02.jpg"
    img_alt = ""
    description = "Our seasonal menu features delicious snacks, baked goods,
        and even full meals perfect for breakfast or lunchtime. We source our
        ingredients from local, oragnic farms whenever possible, alongside premium
        vendors for specialty goods."
%}
{% include components/product.html
    allign = "left"
    heading_upper = "From Around the World"
    heading_lower = "Bulk Speciality Blends"
    img_src = "/img/products-03.jpg"
    img_alt = ""
    description = "Travelling the world for the very best quality coffee is
        something take pride in. When you visit us, you'll always find new blends
        from around the world, mainly from regions in Central and South America.
        We sell our blends in smaller to large bulk quantities. Please visit us in
        person for more details."
%}
