<section class="page-section">
  <div class="container">
    <div class="location">
      <div class="location-map">
        <div class="embed-responsive embed-responsive-4by3 pl-md-2">
          <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=139.70910072326663%2C35.65471586345473%2C139.79467391967776%2C35.715994892206226&amp;layer=mapnik&amp;marker=35.685361261493114%2C139.75188732147217" style="border: 1px solid black"></iframe><br/><small><a href="https://www.openstreetmap.org/?mlat=35.6854&amp;mlon=139.7519#map=14/35.6854/139.7519">View Larger Map</a></small>
        </div>
      </div>
    </div>
  </div>
</div>
